[Unit]
Description=Spotify Display Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/home/user/Spotify-Display/venv/bin/python /home/user/Spotify-Display/spotify-display.py
Nice=-10

[Install]
WantedBy=multi-user.target
